#root {
  max-width: 100%;
  width:100%;
  margin: 0 auto;
  text-align: center;
}

.header {
  background-color: #646cff;
}

.footer {
  background-color: #000000;
  color: #ffffff;
}

.loader {
  height: 6em;
  width: 6em;
  border: 10px solid #242424;
  border-radius: 50%;
  border-top-color: #646cff;
}

.image-container {
  animation: fadeIn 1s ease-in-out;
  opacity: 0;
  animation-fill-mode: forwards;
}

.image-caption {
  animation: fadeIn 1s ease-in-out;
  opacity: 0;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}


@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin 3s infinite linear;
  }
}

@media (prefers-color-scheme: light) {
  .loader {
    border: 5px solid #f9f9f9;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}